In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data= pd.read_excel('/content/customers_lyst1748071473851.xlsx')

data

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Merrili,Alman,malmanrn@cornell.edu,Female,0.0,Thompson,Way,Reading,Pennsylvania,19610.0
996,997,Winonah,Heckle,whecklero@fc2.com,Female,701.0,Rowland,Hill,Indianapolis,Indiana,46278.0
997,998,Tobit,Birt,NaN,Male,2.0,Basil,Road,Waterbury,Connecticut,6721.0
998,999,Issiah,Standbrooke,istandbrookerq@yellowpages.com,Male,NaN,Kenwood,Drive,Savannah,Georgia,31405.0
999,1000,Elmore,Malpas,NaN,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0

In [ ]:
data.head()

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0

In [ ]:
# summary of data frames

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   first_name     1000 non-null   object
 2   last_name      1000 non-null   object
 3   email          878 non-null    object
 4   gender         957 non-null    object
 5   street_num     738 non-null    float64
 6   street_name    963 non-null    object
 7   street_suffix  963 non-null    object
 8   city           921 non-null    object
 9   state          920 non-null    object
 10  postcode       843 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 86.1+ KB

In [ ]:
# add col

data['Country']= 'USA'

data.head()

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,USA
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN,USA
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,USA
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,USA
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0,USA

In [ ]:
# add col at custom place

In [ ]:
status= ['gold', 'silver', 'free']

data['membership_status']= status

# support onevalue assign

ValueError: Length of values (3) does not match length of index (1000)

In [ ]:
data['full_name']= data['first_name'] + ' ' + data['last_name']

data.head()

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,USA,Romain Southcott
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN,USA,Cosimo Molyneaux
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,USA,Bambi Westrip
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,USA,Roarke Pankettman
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0,USA,Mikaela Althorpe

In [ ]:
# access rows in given dataframe .loc() vs iloc()

In [ ]:
demo= {
    "name" : ['chaitanya', 'anant', 'bhavesh', 'sachin', 'kaustubh'],
    "age" : [21,20,22,19,22],
    "city": ['shirpur', 'shirpur', 'nashik', 'nadurbar', 'jaipur']

}

df_demo= pd.DataFrame(demo, index= ['a','b', 'c', 'd', 'e'])

df_demo

        name  age      city
a  chaitanya   21   shirpur
b      anant   20   shirpur
c    bhavesh   22    nashik
d     sachin   19  nadurbar
e   kaustubh   22    jaipur

In [ ]:
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   city    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 332.0+ bytes

In [ ]:
df_demo.loc['a']

# use loc to access customize index

name    chaitanya
age            21
city      shirpur
Name: a, dtype: object

In [ ]:
df_demo.loc['a': 'c']

        name  age     city
a  chaitanya   21  shirpur
b      anant   20  shirpur
c    bhavesh   22   nashik

In [ ]:
df_demo.iloc[0]

# use iloc to access index [0,1,2 ..]


# non custom index then loc & iloc are same

name    chaitanya
age            21
city      shirpur
Name: a, dtype: object

In [ ]:
data.head()

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,USA,Romain Southcott
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN,USA,Cosimo Molyneaux
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,USA,Bambi Westrip
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,USA,Roarke Pankettman
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0,USA,Mikaela Althorpe

In [ ]:
data.shape
# 1000 rows and 13 colms

# attribute .shape
# method .head()

(1000, 13)

In [ ]:
data.iloc[5000:5004]

# no out of index err

Empty DataFrame
Columns: [id, first_name, last_name, email, gender, street_num, street_name, street_suffix, city, state, postcode, Country, full_name]
Index: []

In [ ]:
data.loc[500:504]
# for custom index, but this dont had id has custom index

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name
500,501,Elliot,Polycote,epolycotedw@infoseek.co.jp,Male,NaN,Prentice,Drive,Hartford,Connecticut,NaN,USA,Elliot Polycote
501,502,Shirline,Halpin,shalpindx@moonfruit.com,NaN,76640.0,Buell,Circle,Dallas,Texas,75216.0,USA,Shirline Halpin
502,503,Darcy,Cruddace,NaN,NaN,NaN,Ridgeview,Court,Utica,New York,13505.0,USA,Darcy Cruddace
503,504,Toiboid,Bentzen,tbentzendz@freewebs.com,Male,913.0,2nd,Trail,White Plains,New York,10606.0,USA,Toiboid Bentzen
504,505,Paxon,Corris,pcorrise0@behance.net,Male,8362.0,Eliot,Way,Des Moines,Iowa,50362.0,USA,Paxon Corris

In [ ]:
data.iloc[500:504]

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name
500,501,Elliot,Polycote,epolycotedw@infoseek.co.jp,Male,NaN,Prentice,Drive,Hartford,Connecticut,NaN,USA,Elliot Polycote
501,502,Shirline,Halpin,shalpindx@moonfruit.com,NaN,76640.0,Buell,Circle,Dallas,Texas,75216.0,USA,Shirline Halpin
502,503,Darcy,Cruddace,NaN,NaN,NaN,Ridgeview,Court,Utica,New York,13505.0,USA,Darcy Cruddace
503,504,Toiboid,Bentzen,tbentzendz@freewebs.com,Male,913.0,2nd,Trail,White Plains,New York,10606.0,USA,Toiboid Bentzen

In [ ]:
# rename of index w/ custom

rename_dict = {
    0: 'first customer',
    1: 'second customer',
    2: 'third customer'
}

data.rename(index= rename_dict, inplace= True)

data.head()

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name
first customer,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,USA,Romain Southcott
second customer,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN,USA,Cosimo Molyneaux
third customer,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,USA,Bambi Westrip
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,USA,Roarke Pankettman
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0,USA,Mikaela Althorpe

In [ ]:
# rename of colm
# data['email']= 'gmail'

In [ ]:
data.iloc[0:5]

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name
first customer,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,USA,Romain Southcott
second customer,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN,USA,Cosimo Molyneaux
third customer,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,USA,Bambi Westrip
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,USA,Roarke Pankettman
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0,USA,Mikaela Althorpe

In [ ]:
data.loc[0:5]

# no custom err

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [ ]:
data.loc['first customer': 'third customer']

# last is inclusive

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name
first customer,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,USA,Romain Southcott
second customer,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN,USA,Cosimo Molyneaux
third customer,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,USA,Bambi Westrip

In [ ]:
data.iloc['first customer': 'third customer']

# iloc is not used for custom index

TypeError: cannot do positional indexing on Index with these indexers [first customer] of type str

In [ ]:
# finding unique value

x= data['gender']
x.head()

first customer       Male
second customer      Male
third customer     Female
3                    Male
4                     NaN
Name: gender, dtype: object

In [ ]:
print(data['gender'].unique())

['Male' 'Female' nan]

In [ ]:
data['gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [ ]:
data['gender'].nunique()

2

In [ ]:
data['gender'].value_counts()

gender
Male      485
Female    472
Name: count, dtype: int64

In [ ]:
data_purchase= pd.read_excel('/content/purchases_lyst1748071489995.xlsx')

data_purchase.head()

,Unnamed: 0,id,purch_date,customer_num,product_num,amount,paid
0,0,1,2019-01-03 00:00:00,823,27,12,$568.92
1,1,2,2019-01-03 00:00:00,606,28,14,$395.36
2,2,3,2019-01-03 00:00:00,955,9,17,$510.17
3,3,4,2019-01-03 00:00:00,577,19,3,$68.49
4,4,5,2019-01-03 00:00:00,429,8,18,$759.42

In [ ]:
data_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6000 non-null   int64
 1   id            6000 non-null   int64
 2   purch_date    6000 non-null   object
 3   customer_num  6000 non-null   int64
 4   product_num   6000 non-null   int64
 5   amount        6000 non-null   int64
 6   paid          6000 non-null   object
dtypes: int64(5), object(2)
memory usage: 328.3+ KB

In [ ]:
data_purchase.dtypes

# dtype are not correct purch_date should be date not obj
# and paid should be float

Unnamed: 0       int64
id               int64
purch_date      object
customer_num     int64
product_num      int64
amount           int64
paid            object
dtype: object

In [ ]:
data_purchase.drop(columns= ['Unnamed: 0'] , inplace= True)

In [ ]:
data_purchase.head()

   id           purch_date  customer_num  product_num  amount     paid
0   1  2019-01-03 00:00:00           823           27      12  $568.92
1   2  2019-01-03 00:00:00           606           28      14  $395.36
2   3  2019-01-03 00:00:00           955            9      17  $510.17
3   4  2019-01-03 00:00:00           577           19       3   $68.49
4   5  2019-01-03 00:00:00           429            8      18  $759.42

In [ ]:
data_purchase['purch_date']= pd.to_datetime(data_purchase['purch_date'])

In [ ]:
data_purchase.dtypes

id                       int64
purch_date      datetime64[ns]
customer_num             int64
product_num              int64
amount                   int64
paid                    object
dtype: object

In [ ]:
data_purchase['id']= data_purchase['id'].astype(object)

data_purchase.dtypes

id                      object
purch_date      datetime64[ns]
customer_num             int64
product_num              int64
amount                   int64
paid                    object
dtype: object

In [ ]:
data_purchase['paid']= data_purchase['paid'].astype(float)

# err because of $

# pandas: string is object

ValueError: could not convert string to float: '$568.92'

In [ ]:
data_purchase['paid']= data_purchase['paid'].str.replace('[$,]', '', regex= True)

data_purchase.head()

  id purch_date  customer_num  product_num  amount    paid
0  1 2019-01-03           823           27      12  568.92
1  2 2019-01-03           606           28      14  395.36
2  3 2019-01-03           955            9      17  510.17
3  4 2019-01-03           577           19       3   68.49
4  5 2019-01-03           429            8      18  759.42

In [ ]:
data_purchase.dtypes

id                      object
purch_date      datetime64[ns]
customer_num             int64
product_num              int64
amount                   int64
paid                    object
dtype: object

In [ ]:
data_purchase['paid']= data_purchase['paid'].astype(float)

In [ ]:
data_purchase.dtypes

id                      object
purch_date      datetime64[ns]
customer_num             int64
product_num              int64
amount                   int64
paid                   float64
dtype: object

In [ ]:
data_product= pd.read_excel('/content/products_lyst1748071481613.xlsx')

data_product.head()

   Unnamed: 0  id                           product    cost   company
0           0   1              Liners - Baking Cups   $6.36  Skipfire
1           1   2        Nori Sea Weed - Gold Label  $85.74   Dynazzy
2           2   3                Bar Bran Honey Nut  $65.40      Ntag
3           3   4        Soup - Campbells Beef Stew  $68.16  Photojam
4           4   5  Wine - Shiraz Wolf Blass Premium  $87.39      Eare

In [ ]:
data_product.drop(columns= ['Unnamed: 0'], inplace= True)

data_product.head()

   id                           product    cost   company
0   1              Liners - Baking Cups   $6.36  Skipfire
1   2        Nori Sea Weed - Gold Label  $85.74   Dynazzy
2   3                Bar Bran Honey Nut  $65.40      Ntag
3   4        Soup - Campbells Beef Stew  $68.16  Photojam
4   5  Wine - Shiraz Wolf Blass Premium  $87.39      Eare

In [ ]:
data_product['cost']= data_product['cost'].str.replace('[$,]' ,'' , regex= True)

data_product.head()

   id                           product   cost   company
0   1              Liners - Baking Cups   6.36  Skipfire
1   2        Nori Sea Weed - Gold Label  85.74   Dynazzy
2   3                Bar Bran Honey Nut  65.40      Ntag
3   4        Soup - Campbells Beef Stew  68.16  Photojam
4   5  Wine - Shiraz Wolf Blass Premium  87.39      Eare

In [ ]:
data_product['cost']= data_product['cost'].astype(float)

data_product.dtypes

id           int64
product     object
cost       float64
company     object
dtype: object

In [ ]:
data_product['id']= data_product['id'].astype(object)

data_product.dtypes

id          object
product     object
cost       float64
company     object
dtype: object

In [ ]:
data.shape

(1000, 13)

In [ ]:
data_purchase.shape

(6000, 6)

In [ ]:
data_product.shape

(60, 4)

In [ ]:
# concat --> to manupilate and combine multi dataframe in pandas

In [ ]:
combine= pd.concat([data, data_product, data_purchase])

# axis 0 default -- row wise combine
combine

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,...,Country,full_name,product,cost,company,purch_date,customer_num,product_num,amount,paid
first customer,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,...,USA,Romain Southcott,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
second customer,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,...,USA,Cosimo Molyneaux,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
third customer,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,...,USA,Bambi Westrip,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,...,USA,Roarke Pankettman,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,...,USA,Mikaela Althorpe,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-06-20,893.0,33.0,5.0,411.10
5996,5997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-06-20,566.0,23.0,11.0,178.97
5997,5998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-06-20,114.0,19.0,9.0,205.47
5998,5999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-06-20,404.0,11.0,20.0,429.40
5999,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-06-20,88.0,57.0,4.0,274.52

In [ ]:
combine2= pd.concat([data, data_product, data_purchase], axis= 1)

# axis 1 -- column wise combine
combine2

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,...,id,product,cost,company,id,purch_date,customer_num,product_num,amount,paid
first customer,1.0,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
second customer,2.0,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
third customer,3.0,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,4.0,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,...,4,Soup - Campbells Beef Stew,68.16,Photojam,4,2019-01-03,577.0,19.0,3.0,68.49
4,5.0,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,...,5,Wine - Shiraz Wolf Blass Premium,87.39,Eare,5,2019-01-03,429.0,8.0,18.0,759.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5996,2019-06-20,893.0,33.0,5.0,411.10
5996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5997,2019-06-20,566.0,23.0,11.0,178.97
5997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5998,2019-06-20,114.0,19.0,9.0,205.47
5998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5999,2019-06-20,404.0,11.0,20.0,429.40
5999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6000,2019-06-20,88.0,57.0,4.0,274.52

In [ ]:
# merge -- similar to sql joins

In [ ]:
data.head()

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name
first customer,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,USA,Romain Southcott
second customer,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN,USA,Cosimo Molyneaux
third customer,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,USA,Bambi Westrip
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,USA,Roarke Pankettman
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0,USA,Mikaela Althorpe

In [ ]:
data_purchase.head()

  id purch_date  customer_num  product_num  amount    paid
0  1 2019-01-03           823           27      12  568.92
1  2 2019-01-03           606           28      14  395.36
2  3 2019-01-03           955            9      17  510.17
3  4 2019-01-03           577           19       3   68.49
4  5 2019-01-03           429            8      18  759.42

In [ ]:
merge1= pd.merge(data, data_purchase, on='id', how='inner')

# inner join - common set from both
merge1

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name,purch_date,customer_num,product_num,amount,paid
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,USA,Romain Southcott,2019-01-03,823,27,12,568.92
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN,USA,Cosimo Molyneaux,2019-01-03,606,28,14,395.36
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,USA,Bambi Westrip,2019-01-03,955,9,17,510.17
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,USA,Roarke Pankettman,2019-01-03,577,19,3,68.49
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0,USA,Mikaela Althorpe,2019-01-03,429,8,18,759.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Merrili,Alman,malmanrn@cornell.edu,Female,0.0,Thompson,Way,Reading,Pennsylvania,19610.0,USA,Merrili Alman,2019-06-04,198,20,7,609.35
996,997,Winonah,Heckle,whecklero@fc2.com,Female,701.0,Rowland,Hill,Indianapolis,Indiana,46278.0,USA,Winonah Heckle,2019-06-04,96,27,14,663.74
997,998,Tobit,Birt,NaN,Male,2.0,Basil,Road,Waterbury,Connecticut,6721.0,USA,Tobit Birt,2019-06-04,181,7,2,27.66
998,999,Issiah,Standbrooke,istandbrookerq@yellowpages.com,Male,NaN,Kenwood,Drive,Savannah,Georgia,31405.0,USA,Issiah Standbrooke,2019-06-04,951,54,4,87.68
999,1000,Elmore,Malpas,NaN,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0,USA,Elmore Malpas,2019-06-04,435,20,18,1143.90

In [ ]:
merge_right= pd.merge(data, data_purchase, on= 'id', how= 'right')

# right join - common in both + right side remaining
merge_right

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name,purch_date,customer_num,product_num,amount,paid
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,USA,Romain Southcott,2019-01-03,823,27,12,568.92
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN,USA,Cosimo Molyneaux,2019-01-03,606,28,14,395.36
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,USA,Bambi Westrip,2019-01-03,955,9,17,510.17
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,USA,Roarke Pankettman,2019-01-03,577,19,3,68.49
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0,USA,Mikaela Althorpe,2019-01-03,429,8,18,759.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-20,893,33,5,411.10
5996,5997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-20,566,23,11,178.97
5997,5998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-20,114,19,9,205.47
5998,5999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-20,404,11,20,429.40
5999,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-20,88,57,4,274.52

In [ ]:
data1= pd.DataFrame({
    'name': ['chetan', 'kalyan', 'bhavesh'],
    'id': [1, 2, 3],
    'product': ['pen', 'book', 'notebook']
})

data2= pd.DataFrame({
    'id':[2,3,4],
    'product': ['book', 'notebook', 'pen'],
    'amount': [20, 25, 5]

})


merge_df= pd.merge(data1, data2, on= 'id', how='inner')
merge_df

      name  id product_x product_y  amount
0   kalyan   2      book      book      20
1  bhavesh   3  notebook  notebook      25

In [ ]:
merge_product= pd.merge(data1, data2, on='id', how= 'left', suffixes=('_cust', '_pur'))
merge_product

      name  id product_cust product_pur  amount
0   chetan   1          pen         NaN     NaN
1   kalyan   2         book        book    20.0
2  bhavesh   3     notebook    notebook    25.0

In [ ]:
# diff betn pd.concat, pd.merge, pd.join

In [ ]:
# missing values

data.isnull().sum()

id                 0
first_name         0
last_name          0
email            122
gender            43
street_num       262
street_name       37
street_suffix     37
city              79
state             80
postcode         157
Country            0
full_name          0
dtype: int64

In [ ]:
data_purchase.isnull().sum()

id              0
purch_date      0
customer_num    0
product_num     0
amount          0
paid            0
dtype: int64

In [ ]:
data_product.isnull().sum()

id         0
product    0
cost       0
company    5
dtype: int64

In [100]:
# drop missing values

# create copy of data first
copy_data= data.copy()
copy_data

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Country,full_name
first customer,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,USA,Romain Southcott
second customer,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN,USA,Cosimo Molyneaux
third customer,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,USA,Bambi Westrip
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,USA,Roarke Pankettman
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0,USA,Mikaela Althorpe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Merrili,Alman,malmanrn@cornell.edu,Female,0.0,Thompson,Way,Reading,Pennsylvania,19610.0,USA,Merrili Alman
996,997,Winonah,Heckle,whecklero@fc2.com,Female,701.0,Rowland,Hill,Indianapolis,Indiana,46278.0,USA,Winonah Heckle
997,998,Tobit,Birt,NaN,Male,2.0,Basil,Road,Waterbury,Connecticut,6721.0,USA,Tobit Birt
998,999,Issiah,Standbrooke,istandbrookerq@yellowpages.com,Male,NaN,Kenwood,Drive,Savannah,Georgia,31405.0,USA,Issiah Standbrooke
999,1000,Elmore,Malpas,NaN,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0,USA,Elmore Malpas

In [101]:
copy_data.isnull().sum()

id                 0
first_name         0
last_name          0
email            122
gender            43
street_num       262
street_name       37
street_suffix     37
city              79
state             80
postcode         157
Country            0
full_name          0
dtype: int64

In [126]:
# strategy 1: dropna()
copy_data= copy_data.dropna()

In [127]:
copy_data.shape

# lost of data from 1000 to 418

# dropna() --> use when small portion of missing of data

(418, 13)

In [112]:
# strategy 2: data imputation

# imputation -> with the measures of central tendency[median, mean, mode]
# mode use when catogrical data ex. M/F

In [116]:
mode_gender= data['gender'].mode()[0]

mode_gender

# when data is 50-50 then mode is male and female both, so use [0]

# first cater the imputation(missing) and then balance the data

'Male'

In [110]:
data['gender'].fillna(mode_gender, inplace=True)

data.isnull().sum()

id                 0
first_name         0
last_name          0
email            122
gender             0
street_num       262
street_name       37
street_suffix     37
city              79
state             80
postcode         157
Country            0
full_name          0
dtype: int64

In [111]:
data.shape

(1000, 13)

In [113]:
# numerical data --> mean, median, ffill, bfill

# ffill --> forward fill (above value is copied)
data['street_num']= data['street_num'].fillna(method= 'ffill')

data.isnull().sum()

/tmp/ipython-input-113-1713080905.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['street_num']= data['street_num'].fillna(method= 'ffill')

id                 0
first_name         0
last_name          0
email            122
gender             0
street_num         0
street_name       37
street_suffix     37
city              79
state             80
postcode         157
Country            0
full_name          0
dtype: int64

In [119]:
data['street_name']= data['street_name'].fillna(method= 'ffill')
data['street_suffix'].fillna(method= 'ffill', inplace= True)

data.isnull().sum()

/tmp/ipython-input-119-2069456156.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['street_name']= data['street_name'].fillna(method= 'ffill')
/tmp/ipython-input-119-2069456156.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['street_suffix'].fillna(method= 'ffill', inplace= True)
/tmp/ipython-input-119-2069456156.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['street_suffix'].fillna(method= 'ffill', inplace= True)

id                 0
first_name         0
last_name          0
email            122
gender             0
street_num         0
street_name        0
street_suffix      0
city              79
state             80
postcode         157
Country            0
full_name          0
dtype: int64

In [128]:
# bfill : backward fill (below cell)

data['city'].fillna(method= 'bfill', inplace= True)
data['state'].fillna(method= 'bfill', inplace= True)
data['postcode'].fillna(method= 'bfill', inplace= True)

/tmp/ipython-input-128-1569248463.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['city'].fillna(method= 'bfill', inplace= True)
/tmp/ipython-input-128-1569248463.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['state'].fillna(method= 'bfill', inplace= True)
/tmp/ipython-input-128-1569248463.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['postcode'].fillna(method= 'bfill', inplace= True)
/tmp/ipython-input-128-1569248463.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['postcode'].fillna(method= 'bfill', inplace= True)

In [129]:
data.isnull().sum()

id                 0
first_name         0
last_name          0
email            122
gender             0
street_num         0
street_name        0
street_suffix      0
city               0
state              0
postcode           0
Country            0
full_name          0
dtype: int64

In [130]:
# email unique, no sense to use ffill , bfill, so use parameter (x random)

data['email']= data['email'].fillna('unknown')

In [131]:
data.isnull().sum()

id               0
first_name       0
last_name        0
email            0
gender           0
street_num       0
street_name      0
street_suffix    0
city             0
state            0
postcode         0
Country          0
full_name        0
dtype: int64

In [133]:
data_product['company']= data_product['company'].fillna('Unknown')

data_product.isnull().sum()

id         0
product    0
cost       0
company    0
dtype: int64

In [134]:
data_purchase.isnull().sum()

id              0
purch_date      0
customer_num    0
product_num     0
amount          0
paid            0
dtype: int64

In [138]:
data_purchase.head(20)

    id purch_date  customer_num  product_num  amount     paid
0    1 2019-01-03           823           27      12   568.92
1    2 2019-01-03           606           28      14   395.36
2    3 2019-01-03           955            9      17   510.17
3    4 2019-01-03           577           19       3    68.49
4    5 2019-01-03           429            8      18   759.42
5    6 2019-01-03           275           36      18   176.76
6    7 2019-01-03           456           21      10   904.80
7    8 2019-01-03           526           58      19  1387.95
8    9 2019-01-03           326           44       2    61.34
9   10 2019-01-03            13           21       5   316.70
10  11 2019-01-03           727           47      20   966.40
11  12 2019-01-03           589           30      20   459.20
12  13 2019-01-03           305            1      19   120.84
13  14 2019-01-03           789           22       5   301.30
14  15 2019-01-03           800           37      14   867.86
15  16 2019-01-03           282           32       6   553.98
16  17 2019-01-03           121            5       5   436.95
17  18 2019-01-03            40           60       1    41.22
18  19 2019-01-03            94           53      18  1319.76
19  20 2019-01-03           450           43      18   732.42

In [135]:
# data analysis: aggregation

In [137]:
aggregated_purchase= data_purchase.groupby('customer_num').agg({'amount': 'sum', 'paid': 'sum'})
aggregated_purchase

              amount     paid
customer_num
1                 24   779.34
2                 67  3978.09
3                 88  5031.39
4                 38  2276.38
5                 46  2931.24
...              ...      ...
996               31  2339.19
997               55  3030.34
998               69  3346.93
999               66  3640.48
1000              75  3961.63

[997 rows x 2 columns]

In [140]:
agg_date= data_purchase.groupby('purch_date').agg({'amount': 'sum', 'paid': 'sum'})

agg_date

            amount      paid
purch_date
2019-01-03     480  20468.33
2019-01-04     872  48529.13
2019-01-05     715  38643.67
2019-01-06     576  32345.29
2019-02-03     568  28183.50
...            ...       ...
2019-11-06     475  24778.05
2019-12-03     524  27691.62
2019-12-04     647  37100.59
2019-12-05     380  20845.55
2019-12-06     481  26410.08

[108 rows x 2 columns]

In [ ]:
# drop_duplicates