Lists

- multi elmt : hetro only in python
- list is mutable and ordered
- list is similar to string but string not contain hetro

In [2]:
list1 = [] ## empty list
list2 = [1, 2, 3] ## list of integers
list3 = [1, "One", 2.3] ## list with mixed data types

newlist= [1,2,3, "string", "chaitanya"]
print(newlist)

[1, 2, 3, 'string', 'chaitanya']

In [9]:
type(list3)

list

Nested Lists

In [10]:
list4 = ["One", [1, 2, 3], [4, 5, 6]]
list4

['One', [1, 2, 3], [4, 5, 6]]

In [11]:
list4[1][1]

# list elmt is acces through index; index has subindex in nested list

2

In [12]:
list4[2][2]

6

Slicing

In [13]:
letters = ['a', 'b', 'c', 'd', 'e']
print(letters[-3:-1])

['c', 'd']

In [7]:
print(letters[-1:-3])
# backward stepsize is imp for reverse -1, -2 etc

[]

In [19]:
print(letters[-1:-3:-1])

print(letters [-3:: -2])

['e', 'd']
['c', 'a']

In [ ]:
my_list = [10, 25, 5, 60, 15, True, False]
max_element = max(my_list)
min_element = min(my_list)
sum_element = sum(my_list)
print(max_element)
print(min_element)  # false is treated as 0
print(sum_element)

60
False
116
True

In [ ]:
strings = ["abc", "abd", "abe"]
# compare based on ASCII values of char 

min_string = min(strings)
max_string = max(strings)
print(min_string)
print(max_string)

abc
abe

In [ ]:
my_list

[10, 25, 5, 60, 15, True, False]

Why the lists are mutable in nature?

In [ ]:
my_list[3] = 65
print(my_list)

[10, 25, 5, 65, 15, True, False]

In [32]:
print(newlist)
# newlist.append("sonawane")

newlist* 3
print(newlist)
print(newlist * 2)

[1, 2, 3, 'string', 'chaitanya', 'sonawane', 'sonawane', 'sonawane']
[1, 2, 3, 'string', 'chaitanya', 'sonawane', 'sonawane', 'sonawane']
[1, 2, 3, 'string', 'chaitanya', 'sonawane', 'sonawane', 'sonawane', 1, 2, 3, 'string', 'chaitanya', 'sonawane', 'sonawane', 'sonawane']

Repeat/Replicate Lists

In [ ]:
print(my_list * 3)

[10, 25, 5, 65, 15, True, False, 10, 25, 5, 65, 15, True, False, 10, 25, 5, 65, 15, True, False]

Inbuilt functions of list

In [33]:
my_list

[10, 25, 5, 60, 15, True, False]

append()

In [35]:
my_list.append(20)
my_list

[10, 25, 5, 60, 15, True, False, 20, 20]

l1.extend(l2) -> modifies l1 in-place

It does not return anything -- its return value is None

In [36]:
l1 = [1, 2, 3, 4]
l2 = [5, 6, 7, 8]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
l1.append([5, 6, 7, 8])
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, [5, 6, 7, 8]]

In [ ]:
l1.append(5, 6, 7, 8)
print(l1)

TypeError: list.append() takes exactly one argument (4 given)

In [ ]:
## this way of printing is wrong because the extend function does not return anything
l1= [1, 2, 3]
l2 = [4, 5, 6]
print(l1.extend(l2))    # extend not returns anything

l1.extend(l2)
print(l1)

None
[1, 2, 3, 4, 5, 6, 4, 5, 6]

insert(index, data)

In [40]:
my_list

[10, 25, 5, 60, 15, True, False, 20, 20]

In [41]:
my_list.insert(0, 5)
print(my_list)

[5, 10, 25, 5, 60, 15, True, False, 20, 20]

In [42]:
my_list.insert(2, 20)
print(my_list)

[5, 10, 20, 25, 5, 60, 15, True, False, 20, 20]

'+' Operator

In [43]:
list1 = ['apple', 'banana']
list2 = ['cherry', 'date']
new_list = list1 + list2
print(new_list)

['apple', 'banana', 'cherry', 'date']

Difference between extend vs '+' operator in lists

In [44]:
a = [1, 2]
a.extend((3, 4))
print(a)

[1, 2, 3, 4]

In [45]:
a + (3, 4)

TypeError: can only concatenate list (not "tuple") to list

Comparison Of Lists

In [46]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list1 == list2)

False

In [47]:
print(list1 != list2)

True

In [48]:
print(list1 < list2)

True

In [49]:
print(list1 > list2)

False

In [50]:
my_list

[5, 10, 20, 25, 5, 60, 15, True, False, 20, 20]

In [51]:
l1 = [1, 2, 3, 50]
l2 = [4, 5, 6, 7]
print(l1 < l2)

True

remove()

In [63]:
my_list.remove(60)
# my_list.remove(5)
my_list

[10, 15, True, False]

In [ ]:
mylist2 = [1,2,3,4,5,6,7,8,9]
print(mylist2)

# .remove(value)
mylist2.remove(8)       
print(mylist2)

mylist2.remove(3)
print(mylist2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 9]
[1, 2, 4, 5, 6, 7, 9]

pop()

In [ ]:
my_list

[10, 15, True, False]

In [ ]:
# .pop(index)
# .remove(value)

popped_element = my_list.pop(2)
print(popped_element)

# .remove() --> last elmt

25

In [66]:
my_list

[10, 15, True, False]

In [70]:
my_list.remove(10)
my_list

[15, True, False]

In [71]:
my_list

[15, True, False]

In [72]:
my_list.pop()
my_list

[15, True]

del Statement

In [73]:
del my_list[1]
print(my_list)

# del: entire list is deleted
# clear : values are deleted

[15]

In [76]:
del my_list
print(my_list)

NameError: name 'my_list' is not defined

In [77]:
list4

['One', [1, 2, 3], [4, 5, 6]]

In [78]:
list4.clear()
print(list4)

[]

Sorting list

In [ ]:
# arrange in ascending

my_list = [3, 1, 4, 7, 8, 12, 0, 13, 16, 11]
my_list.sort()
print(my_list)

[0, 1, 3, 4, 7, 8, 11, 12, 13, 16]

In [80]:
# arrange in descending

my_list = [3, 1, 4, 7, 8, 12, 0, 13, 16, 11]
my_list.sort(reverse=True)
print(my_list)

[16, 13, 12, 11, 8, 7, 4, 3, 1, 0]

count()

In [81]:
count_element = my_list.count(16)
print(count_element)

1

In [82]:
index = my_list.index(4)
print(index)

6

In [84]:
my_list.reverse()
print(my_list)

[16, 13, 12, 11, 8, 7, 4, 3, 1, 0]

In [ ]:
list5= [1,323, 45,22,3,44,5]
print(list5)

print(list5.sort())
print(list5.sort(reverse= True))
print(list5.reverse())

list5.reverse()
print(list5)

list5.sort()
print(list5)


# og list ko reverse karta hai/  diff from sort reverse= true
list6= [5,4,3,2,1]
list6.reverse()
print(list6)

[1, 323, 45, 22, 3, 44, 5]
None
None
None
[323, 45, 44, 22, 5, 3, 1]
[1, 3, 5, 22, 44, 45, 323]
[1, 2, 3, 4, 5]

In [93]:
words = ["Hello", "How", "are", "you"]
result = " ".join(words)
print(result)

Hello How are you