In [1]:
# map fn: iterate over iterable (list, tuple, set, dict) 
# applies given function all items of iterable

def square(x):
    return x*x

square(9)

81

In [25]:
# map
numbers= [1,2,3,4,5,6,7,8,9]
list(map(square,numbers))
# applies fn to all elmt

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
def cube(num):
    return num**3

lst= [1,2,3,4,5]
print((map(cube, lst)))
print(list(map(cube,lst)))
print(set(map(cube,lst)))       # unorder set and dict
print(tuple(map(cube, lst)))

# can't covert to dict

<map object at 0x0000023CFEC4E5C0>
[1, 8, 27, 64, 125]
{64, 1, 8, 27, 125}
(1, 8, 27, 64, 125)

In [27]:
def sqrt(num):
    print(num**2)

print(map(sqrt, lst))
print(list(map(sqrt,lst)))

<map object at 0x0000023CFEE76020>
1
4
9
16
25
[None, None, None, None, None]

In [28]:
# map multi iterable
num1= [1,2,3,4]
num2= [5,6,7,8]

multiNum=list[map(lambda a,b: a*b, num1,num2)]      #sqre array
print(multiNum)

multiNum2=list(map(lambda a,b: a*b, num1,num2))     
print(multiNum2)

list[<map object at 0x0000023CFEE74BE0>]
[5, 12, 21, 32]

In [29]:
list1= [1,2,3,4,5]
list2= [10,9,8,7,6]

divide= list(map(lambda a,b: a/b, list1, list2))
print(divide)

[0.1, 0.2222222222222222, 0.375, 0.5714285714285714, 0.8333333333333334]

In [ ]:
# map() to convert list of string into int
str_num= ['1','2','3']
print(type(str_num[1]))

int_num= list(map(int, str_num))
print(type(int_num[1]))

<class 'str'>
<class 'int'>

In [31]:
input_int= map(int, input("enter input: ").split())
print(input_int)
print(type(input_int))

<map object at 0x0000023CFEE71870>
<class 'map'>

In [34]:
words= ['red', 'green', 'white']
word= list(map(str.upper, words))
print(word)

['RED', 'GREEN', 'WHITE']