Functions
- reusable block of code
- built-in & user def

In [ ]:
# fn def
def greet (name):
  print(f"Good Morning, {name}")

# fn calling
greet("Chaitanya")

Good Morning, Chaitanya

In [ ]:
# multi input
def multi_greet(*name):
  print(f"Good Morning, {name[1]}")

multi_greet("Chaitanya", "Nandini", "Jagruti", "Kalyan")

Good Morning, Nandini

In [ ]:
def greet_m(*name, n):
  print(f"Good Morning, {name[n]}")

greet_m("Chaitanya", "Nandini", "Jagruti", "Kalyan", n=2)

Good Morning, Jagruti

In [ ]:
def user_greet(name):
  print(f"Good Morning, {name}")

x= input("enter your name: ")
user_greet(x)

enter your name: Chaitanya
Good Morning, Chaitanya

In [ ]:
# default fn: parameter not pass then use default value

def country_check(country="india"):
  print("you are from {}".format(country))

country_check("Sweden")
country_check()

you are from Sweden
you are from india

In [ ]:
def greet_default(name= "User"):
  return "Good Morning {}".format(name)

print(greet_default())
print(greet_default("Chaitanya"))

Good Morning User
Good Morning Chaitanya

In [ ]:
def add_num(a,b=10,c):
  return a+b+c

add_num(1,2)
#  non-default argument follows default argument

SyntaxError: non-default argument follows default argument (<ipython-input-12-2328804790>, line 1)

In [ ]:
def add_num2(a,c,b=10):
  return a+b+c

add_num2(1,2)

13

In [ ]:
def multi(x,y,z=10, u=2):
  return x*y*z*u

res= multi(1,2,3)
print(res)

# Z is overwrite with 3

res2= multi(1,2, u=3)
print(res2)

12
60

In [ ]:
# calculator
def cal(a,b,op= "+"):
  if op=="+":
    return a+b
  elif op=="-":
    return a-b
  elif op=="*":
    return a*b
  elif op=="/":
    if b==0:
      return "B should not be zero"
    else:
      return a/b
  else:
    return "Invalid Operation"

num1= int(input("enter 1st number: "))
num2= int(input("enter 2nd number: "))
opr= input("enter the operation to perform: ")

result= cal(num1, num2,opr)
print(f"Result is: {result} ")

enter 1st number: 9
enter 2nd number: 7
enter the operation to perform: *
Result is: 63

In [ ]:
# print ---> display (show cake)
# return ---> store (give cake)

In [ ]:
# armstrong num
def is_arm(num):
  num1= num # num will change further
  lst=[]
  while num > 0:
    res= num%10
    num= num//10
    lst.append(res)
  res= 0
  for i in lst:
    res= res+ i**3
    # not 3 but number of digits

  if num1==res:
    print("ArmStrong Number")
  else:
    print("Not ArmStrong Number")

is_arm(153)

ArmStrong Number

In [ ]:
# armstrong number --> 153, 370
def is_armstrong(num):
  str_num= str(num)
  num_digit= len(str_num)

  res= 0
  for i in str_num:
    res= res + int(i) ** num_digit

  if num==res:
    return "Armstrong"
  else:
    return "Not Armstrong"

is_armstrong(153)

'Armstrong'

In [ ]:
# **kwargs: key word argument (tuple)
# * args: multi argument (dict)

In [ ]:
# *args

def multi_by(*args):
  return args[2] * 2

double_num= multi_by(1,2,3,4)
print(double_num)

6

In [10]:
def print_args(*args):
  for arg in args:
    print(arg)

print_args(1,2,3,4,5,6,7,8)

1
2
3
4
5
6
7
8

In [13]:
# **kwargs

def print_kwargs(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}: {value}")

print_kwargs(name= "Chaitanya", rollno= 40, age= 21, city= "dondaicha")

name: Chaitanya
rollno: 40
age: 21
city: dondaicha

In [14]:
# recursion: fn calling itself

In [17]:
def factorial_fn(num):
  # base case condn
  if num==1 or num== 0:
    return 1
  else:
    # recursive fn
    return num * factorial_fn(num-1)

factorial_fn(5)

# if logic is repeat then use recursion

120

In [21]:
# lambda fn: one line fn

add= lambda a,b: a+b
print(add(2,3))

5

In [19]:
multiply= lambda a,b: a*b
print(multiply(5,10))

50

In [22]:
sqrt= lambda num: num**2
print(sqrt(5))

25