In [8]:
# for loop
for i in range(1,9):        #range is fn, end is exclusive
    print (i)

1
2
3
4
5
6
7
8

In [9]:
for i in range(1,10,2):     #range (start, end, stepsize)
    print(i)

1
3
5
7
9

In [10]:
str= "Chaitanya"
for i in str:
    print(i)

C
h
a
i
t
a
n
y
a

In [11]:
name= "Chaitanya Sonawane"

for i in name :
    if i == "a":
        print(f"yes --> {i}")

yes --> a
yes --> a
yes --> a
yes --> a
yes --> a

In [12]:
# while loop: continues to execute as long as the condn is true
count = 0
while(count<5):
    print("count is ",count)
    count= count+1      #count++ - X

count is  0
count is  1
count is  2
count is  3
count is  4

In [13]:
# loop control statements

# break: exits loop prematurely (permanent)
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [15]:
for i in range (5,15):
    print(i)
    if i == 10:
        break
    print(i)

5
5
6
6
7
7
8
8
9
9
10

In [18]:
name= "chaitanya sonawane"

for i in name:
    if i == "t":
        break
    print(i)

c
h
a
i

In [ ]:
#continue: skip current and continue
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [16]:
name= "chetan sonawane"

for i in name:
    if i == "a":
        continue
    print(i)

c
h
e
t
n

s
o
n
w
n
e

In [19]:
#pass: null operation, it does nothing

for i in range(1,10):
    if i == 5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9

In [20]:
clg_name= "rcpit, shirpur"

for i in clg_name:
    if i== "i":
        pass
    print(i)

r
c
p
i
t
,

s
h
i
r
p
u
r

In [10]:
# nested loop: loop inside loop
for i in range(3):
    for j in range(4):
        print(f"i: {i} and j: {j}")

i: 0 and j: 0
i: 0 and j: 1
i: 0 and j: 2
i: 0 and j: 3
i: 1 and j: 0
i: 1 and j: 1
i: 1 and j: 2
i: 1 and j: 3
i: 2 and j: 0
i: 2 and j: 1
i: 2 and j: 2
i: 2 and j: 3

In [29]:

for j in range(1,5):
        print(j * "*")

*
**
***
****

In [32]:
star_input= int(input("enter number of stars: "))

for i in range(1, star_input+1):
    print(i * "*")

*
**
***
****
*****
******
*******
********
*********

In [33]:
# sum of natual numbers
num= int(input("enter the numeber"))
sum= 0
for i in range(num+1):
    sum= sum+i

print(f"sum of first {num} number is {sum}")

sum of first 5 number is 15