Conditional Statements

In [1]:
x = 100

if x > 0:
  print("x is positive")
else:
  print("x is not positive")

x is positive

In [2]:
x = 100

if x > 0:
  print("x is positive")

print("This is outside the if block")

x is positive
This is outside the if block

In [3]:
def multiple_of_2(num):
  if(num%2 == 0):
     print("Multiple of two")
  else:
    print("Not a multiple of 2")

num = int(input("Enter a number: "))
multiple_of_2(num)

Not a multiple of 2

Given a number, verify that the number is a multiple of 2 or not?

In [5]:
user_input = int(input("Enter a number: "))

## condition to check whether a number is a multiple of 2 or not
if user_input % 2 == 0:
  print("The number is a multiple of 2")
else:
  print("The number is not a multiple of 2")

The number is not a multiple of 2

In [ ]:
my_dict = {'a':1, 'b':2, 'c':3}

## key to check
key_to_check = 'd'

if key_to_check in my_dict:
  print("Key is present in the dictionary")
else:
  print("Key is not present in the dictionary")

Key is not present in the dictionary

In [ ]:
a = 80
b = 80
c = 80

if a > b and a > c:
  print('a is greater than b and c')

elif b > a and b > c:
  print('b is greater than a and c')

elif c > a and c > b:
  print('c is greater than a and b')

else:
  print('None of the above conditions are met')

None of the above conditions are met

Nested Conditional Statements

In [ ]:
x = -10
y = 5

## Nested if
if x > 0:
  print('x is positive')

  if y > 0:
    print('y is positive')
  # indent err

In [9]:
x = -10
y = 5

## the below if conditions are independent to each other
if x > 0:
  print('x is positive')

if y > 0:
  print('y is positive')

y is positive

In [ ]:
age = 15
income = 5000

if age >= 18:
  print("You are eligible to vote.")
  if income >= 30000:
    print("You are eligible to apply for a credit card")
  elif income >= 20000:
    print("You are eligible to apply for a personal loan")
  else:
    print("You are eligible to open a savings account")

else:
  print("You are not eligible to vote.")

You are not eligible to vote.

Shorthand if statement

In [ ]:
age = 25

if age >= 18: print("You are eligible for vote")

You are eligible for vote

In [4]:
marks= 90

if marks >= 40 : print("PASS")

PASS

In [10]:
text = "Hello Python"
contains_word = True if "Python" in text else False
print(contains_word)

True

In [11]:
def multiple_of_2(num):
  if(num%2 == 0):
     return "Multiple of two"
  else:
    return "Not a multiple of 2"

num = int(input("Enter a number: "))
print(multiple_of_2(num))

Multiple of two

In [ ]:
score = 65

grade = 'A' if score >= 90 else ('B' if score >= 80 else ('C' if score >= 70 else 'D'))
print(grade)

D

Write a program to take three side lengths and  prints whether the triangle is equilateral, isosceles, or scalene

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if (a == b == c):
  print("Equilateral")
elif a == b or b == c or a == c:
  print("Isosceles")
else:
  print("Scalene")

2
2
3
Isosceles

In [ ]:
a = int(input())
b = int(input())
c = int(input())

ans = "Equilateral" if a==b==c else("Isosceles" if a == b or a == c or b == c else "Scalene")
print(ans)

2
3
4
Scalene

Write a program that prints "Fizz" if a number is divisible by 3, "Buzz" if divisible by 5, "FizzBuzz" if divisible by both, or the number itself otherwise.

In [ ]:
a_number = int(input("Enter a number: "))

if a_number % 3 == 0 and a_number % 5 == 0:
  print("FizzBuzz")
elif a_number % 3 == 0:
  print("Fizz")
elif a_number % 5 == 0:
  print("Buzz")
else:
   print(a_number)

Enter a number: 22
22

In [ ]:
n = int(input("Enter a number: "))
ans = "Fizzbuzz" if n % 3 == 0 and n % 5 == 0 else ("Fizz" if n % 3 == 0 else ("Buzz" if n % 5 == 0 else n))
print(ans)

Enter a number: 22
22

Write a program that checks if a given string is a palindrome (reads the same backward).

In [13]:
a = input("Enter a string: ")

if a == a[::-1]:
  print("Palindrome")
else:
  print("Not a palindrome")

Palindrome

In [12]:
name= "chaitanya"

if name == name[::-1]:
    print("string is palindrome")
else:
    print("string is not palindrome")

string is not palindrome

In [ ]:
x = "Hello World"
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [15]:
list1= [2,34,55,66,78,33,44,0]

for i in list1:
    if i%2==0:
        print(f"even --> {i}")

even --> 2
even --> 34
even --> 66
even --> 78
even --> 44
even --> 0

In [16]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in number:
  if num % 2 == 0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [17]:
numbers = [10, 50, 40, 30, 5, 15]

## maximum element
max_element = numbers[0]

for num in numbers:
  if num > max_element:
    max_element = num

print("Maximum element in a given list is", max_element)

Maximum element in a given list is 50

In [ ]:
for i in range(6):
  print(i)

else:
  print("Finally finished")

0
1
2
3
4
5
Finally finished

List Comprehension

In [ ]:
## new_list = [expression for item in iterable]
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Generator Expression

In [ ]:
squares = (x ** 2 for x in range(1, 11))
print(squares)


for square in squares:
  print(square)

<generator object <genexpr> at 0x7d3e0c6f58a0>
1
4
9
16
25
36
49
64
81
100

Nested for loop

In [ ]:
for i in range(1, 6):
  for j in range(1, 11):
    print(i*j, end='\t')

  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50

In [ ]:
n = int(input())

sum = 0
i = 2

while i <= n:
  sum += i
  i += 2

## 2 + 4 + 6 + 8 + 10 + 12 + 14 + 16
print(sum)

16
72

Nested while loop

In [ ]:
outer_count = 0

while outer_count < 3:
  print("Outer loop iteration", outer_count)

  inner_count = 0
  while inner_count < 2:
    print("Inner loop iteration", inner_count)
    inner_count += 1

  outer_count += 1

Outer loop iteration 0
Inner loop iteration 0
Inner loop iteration 1
Outer loop iteration 1
Inner loop iteration 0
Inner loop iteration 1
Outer loop iteration 2
Inner loop iteration 0
Inner loop iteration 1

Find the sum of all even numbers from 1 to 100 using a for loop.

In [18]:
sum_even = 0
for number in range(2, 101):
    if number % 2 == 0:
        sum_even += number
print(sum_even)

2550

 Write a program to calculate the factorial of a number using a while loop.

In [20]:
num = int(input("Enter a number: "))

fact = 1
while num > 1:
    fact *= num
    num -= 1

print(fact)

24

Control Transfer Statments
- break
- pass
- continue

In [21]:
for i in range(5):
    print(i)
    if i == 2:
        break

0
1
2

In [ ]:
for i in range(1,11):
    if i==6:
        continue        # skip that instances only
    print(i)

1
2
3
4
5
7
8
9
10

In [ ]:
for i in range(1,11):
    if i==5:
        break       # break loop from that instances
    print(i)

1
2
3
4