In [1]:
# basics datatypes

In [2]:
# integer
age= 21
num= 332

print(age)
print(num)

21
332

In [3]:
# float
pie= 3.14
height= 5.11

print(pie)
print(height)

3.14
5.11

In [4]:
# string
str_name= "chaitanya"
name= 'chetan sonawane'

print(str_name)
print(name)

chaitanya
chetan sonawane

In [5]:
# boolean
is_student= True
knows_dsa= False
print("I am student: ", is_student, ". I have completed DSA:", knows_dsa)

I am student:  True . I have completed DSA: False

In [7]:
# common err: 
result= "hello" + 5
print(result)

TypeError: can only concatenate str (not "int") to str

In [8]:
# soln: typecasting
result= "hello" + str(5)
print(result)

hello5