print() function -> display the output to the screen

In [1]:
print("Hello World")

Hello World

'end' parameter: By default, the print function uses 'end' parameter with a new line.

In [2]:
print("Hello")
print("World")

Hello
World

In [6]:
print("Hello", end = " ")
print("World")

Hello World

In [7]:
print("hello",end="\t")
print("everyone")

hello	everyone

In [8]:
print("hello", end="?")
print("world")

hello?world

Print - Python-Programming

In [9]:
print("Python", end="-")
print("Programming")

Python-Programming

'sep' parameter; elmt separation

In [10]:
print("apple", "banana", "orange")

apple banana orange

In [14]:
print(7484,9585,8494 ,sep="-")

7484-9585-8494

In [15]:
print("apple", "banana", "orange", sep=',')

apple,banana,orange

input() function

In [16]:
user_input = input("Enter your name: ")
print("Hey, my name is " + user_input)

Hey, my name is Chaitanya

In [10]:
name= input("enter the name")
print("the name is " + name)

print("my name is {}".format(name))

print(f"name is {name}")

the name is chetan
my name is chetan
name is chetan

In [ ]:
age= input("enter age")
print("age is" , age)

# by default type as str
print(type(age))

age is 20
<class 'str'>

In [12]:
user_input = "Chetan Sonawane"
print(user_input)

Chetan Sonawane

In [13]:
print(user_input)

Chetan Sonawane

In [14]:
num = 10
print(num)

10

In [15]:
num = 15
print(num)

15

In [5]:
# output

a = 10
b = 20

print(f"Value of pen is {a} and value of notebook is {b}")

# print("Value of pen is {} and value of notebook is {}", )

Value of pen is 10 and value of notebook is 20

Comments

In [16]:
# This is a single line comment
print("Hello, World")

Hello, World

In [8]:
'''
This is a multi-line comment, it is enclosed within triple quotes.
This is useful mainly for documenting larger sections of the code
'''
print("Hello, World")

Hello, World

Indentation: structure of the code block

In [18]:
x = 5
if x > 3:
  print("x is greater than 3")

x is greater than 3

In [19]:
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)

10
20
30

In [20]:
x = y = z = "Hello"
print(x)
print(y)
print(z)

Hello
Hello
Hello

Data type: nature of the data that any variable can hold

Numbers

In [ ]:
x = 10 ## int
y = 3.14 ## float
z = 2 + 3j ## complex (j is imaginary, only use j)

In [22]:
type(z)

complex

In [23]:
type(y)

float

In [24]:
type(x)

int

In [25]:
z.real

2.0

In [26]:
z.imag

3.0

In [9]:
cmplx= 2+ 9j
print(cmplx)
print(cmplx.real)
print(cmplx.imag)

(2+9j)
2.0
9.0

String: sequence of characters enclosed within single or double quotes

In [14]:
name = "john"
type(name)

str

In [16]:
isverified= False
type(isverified)

bool